<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="app">
    <p v-bind:id="uuid" v-bind:class="name">123</p>

    <div v-if="loading">
        Loading...
    </div>
    <div v-else>
        tes user has been logged in
    </div>
    <input type="text" v-model="message">
    <div>{{ message }}</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            loading: true,
            message: 'hi',
            num: 1,
            uuid: 'uuid123',
            name: 'className'
        },
        computed: {
            doubleNum() {
                return this.num * 2;
            }
        }

    })
</script>
</body>
</html>